<fieldset flow-init>
  <legend>Art</legend>
<div class='well'>
  <span>Choose Avatar Art</span>
  </input>
  <p class="error" ng-show="avatarerr">{{avatarerr}}</p>
  <p class="good" ng-show="avatarmsg">{{avatarmsg}}</p>
  <img style='border-radius:40px;' height="80px" width="80px" flow-img="$flow.files[0]" />
  <div ng-cloak ng-show='$flow.files[0]'>
  <button flow-btn>
    <span >Choose Wall Art</span>
  </button>
  <img style='float:right' height="50px" width="100px" flow-img="$flow.files[1]" />
  <p class="error" ng-show="wallerr">{{wallerr}}</p>
  <p class="good" ng-show="wallmsg">{{wallmsg}}</p>
  </div>
  <p>
    <button ng-click="chooseArt($flow.files[0],$flow.files[1])">commit</button>
  </p>
</div>
</fieldset>
