

<div class='col-md-8 col-md-offset-2 col-xs-12' id='s{{song.key}}' ng-show="song.artist">
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <img class='avatar' ng-src='{{song.artist.avatar}}?default=404' err-src="img/default-avatar.png">
      <a class='alias' href="#/artist/{{song.artist.key}}" >{{song.artist.alias}}</a>
        <strong style='text-align:'><a href='#/song/{{song.key}}'>{{song.title}}</a></strong>
          </button>
        </strong>
        <abbr class='day'>
          Day {{song.timestamp | amDateFormat:'D'}}
        </abbr>

      </div>
        <div class="panel-body">
          <div ng-show='song.playingVideo' ng-if="startsWith(song.media.type,'video')">
            <video controls width='100%' id='movie{{song.key}}'  ng-src='{{song.media.src|trustUrl}}'>
            </video>
          </div>
          <span>
        <button class='playbtn' ng-click='playVideo(song)' ng-show="startsWith(song.media.type,'video')">
          <span ng-show='!song.videoPlaying'>▶</span>
          <span ng-show='song.videoPlaying'>||</span>
        </button>

        <button class='playbtn' ng-hide="startsWith(song.media.type,'video')" ng-click='playsong(song)' ng-hide='song.video'>
          ▶
        </button>
      </span>
        <small style='float:right;'>
          <abbr am-time-ago="song.timestamp"></abbr>
          </small>
          <p style='white-space:pre-line;font-family:monospace;padding:5px;word-wrap:normal'>{{song.info}}</p>
        </div>
        <div class='panel-footer panel-info'>
          <p>
            <ul ng-include src="'partials/comments.html'">
            </p>
        </div>
      </div>
</div>
